body {
    background: white;
}

html,
body {
    background: #f8f8f8!important;

    font-family: 'Shadows Into Light', cursive;
    margin: 0;
    padding: 0;
    height: 100%;


    h2 {
        font-weight: 400;
    }


}


* {
    box-sizing: border-box;
    text-decoration: none;

}

.hidden {

    opacity: 0;

    @mixin atSmall {
        opacity: 1;
    }
}

.black {
    color: white;
    @mixin atSmall {
        color: black;

    }
}
